language: node_js
node_js:
  - 6
  - node
sudo: false
script: node_modules/karma/bin/karma start karma.conf.js --single-run
cache:
  directories:
    - "node_modules"

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
before_script:
    - npm install -g bower
    - bower install
