language: node_js
node_js:
  - 6
  - node
sudo: false

cache:
  directories:
    - "node_modules"

services:
  - postgresql
  - redis-server

before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

before_script:
  - psql -c 'create database jkitchen;' -U postgres
  - psql -c 'create database jkitchentest;' -U postgres
  - psql -c 'create database database_production;' -U postgres
  - npm install -g bower istanbul sequelize-cli
  - bower install
  - redis-server

script: 
  - sequelize db:migrate
  - istanbul cover ./node_modules/mocha/bin/_mocha tests/server/*.js --report lcovonly -- -R spec && cat ./coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js && rm -rf ./coverage
  
